
  
  body.light-mode {
    background-color: #fff;
    color: #000;
  }
  
  body.dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  nav {
    background-color: var(--primary-color);
    
    @container (max-inline-size: 960px) {
      block-size: 4rem;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  /* ---------- HEADER ---------- */
  
   .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
    .header-left{
      cursor: pointer;
      display: flex;	
      
    }
    .search-icon{
    top: 50%;
    transform: translate(0, -50%);
  }
  
     .header-right{
      cursor: pointer;
      display: flex;
    }
   
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- MAIN ---------- */
  
  
  main {
    background-color: var(--bg-color);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    grid-auto-flow: dense;
    grid-gap: 1rem;
    
  }
  .main-cards {
    display: grid;
    color: blue;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
  }
   .card {
    background-color: rgb(215,140,40);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
   .card_1 {
    background-color: rgb(255, 0, 200);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
   
    .card_2 {
    background-color: rgb(26, 128, 0);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
    .card_3 {
    background-color: pink;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
    .card_4 {
    background-color: rgb(163, 163, 130);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
    .card_5 {
    background-color: grey;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   }
   .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card:first-child {
    background-color: rgb(213, 0, 0);
  }
  
  .card:nth-child(2) {
    background-color: rgb(46, 125, 50);
  }
  
  .card:nth-child(3) {
    background-color: rgb(255, 111, 0);
  }
  
  .card:nth-child(4) {
    background-color: rgb(29, 38, 154);
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > span {
    font-size: 50px;
  }
   
  /* Container Queries for the main area */
    @container (max-inline-size: 960px) {
      .selector{
      block-size: 100vh;
    }
  }
    @container (max-width: 680px) {
      .selector {
          display: block;
      }
  }
  
  
  
  
  /* Only Media Query: */
  
  @media (max-width: 960px) {
    body {
      display: block;
      overflow: scroll;
    }
  }