* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pri-color: #2b8bf1;
}

/* Body */

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  position: relative;
  min-height: 100vh;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 10px 20px 0;
  /*
  Added some padding on top, the items were toucing the top, and the logo was a little bit overflowing and hidden
  */
}

  /*
  the headrer has one nested element,nav, i dont think space-between is ideal here, maybe in the navbar itself, idk what do you think? this is how id do it
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0;
  }
  .navbar { 
    display: flex;
    align-items: center;
  }
  */

.navbar {
  width: 100%; 
  display: flex;
  align-items: center;
  
  /* --width covers the whole width of headr which inturn covers whole width of body item, this allows the nav and its items to be be placed wherever at the top, getting? */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

:is(.links,.menu-bar) {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

:is(.links,.menu-bar) li {
  margin-right: 10px;
}

:is(.links,.menu-bar) a{
  text-decoration: none;
  color: inherit;
}

.menu{
  width: fit-content;
  height: fit-content;
  justify-self: end;
}

.hamburger-btn {
  display: none;
  flex-direction: column;
  padding: 10px 8px;
  margin: 0 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
}

.menu-items{
  width: 30px;
  height: 3px;
  background: black;
}

.menu-items:not(:last-child){
  margin-bottom: 7px;
}

@media screen and (769px >= width){
  body{
    position: relative;
  }

  .hamburger-btn {
    display: flex;
  }

  .menu-bar {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    min-width: 45vw;
    height: 70vh;
    background: var(--pri-color);
    color: #fff;
    margin: unset;

    position: absolute;
    top: 8vh;
    left: -50vw;
    z-index: 10;
    transition: 500ms;
  }

  :is(.links,.menu-bar) a{
    padding: 10px 8px;
  }

  :is(.links,.menu-bar) a:hover {
    color: #000;
  }

  .hamburger-btn:hover .menu-items{
    align-self: flex-end;
    background: var(--pri-color);
  }
  
  .hamburger-btn:hover .menu-items:first-child{
    transform: scaleX(0.5);
  }
  
  .hamburger-btn:hover .menu-items:nth-child(2){
    transform: scaleX(0.7);
  }

  .active-menu{
    left: 0;
  }
}

.login-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:is(:hover,:focus) {
  background: var(--pri-color);
}

/* Blur background overlay */

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  display: none;
}

/* Form popup */

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  z-index: 20;

  display: none;
}

.active-form {
  display: inline-block;
  transition: 500ms all;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-box {
  width: 100%;
  margin-bottom: 20px;
}

.login {
  display: contents;
} 

.login.active{
  display: none;
}

.signup {
  display: none;
}

.signup.active{
  display: contents;
}

.form-details {
  margin-bottom: 20px;
}

.form-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.form-details p {
  font-size: 16px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-content form {
  display: flex;
  flex-direction: column;
}

.form-content .input-field {
  margin-bottom: 10px;
}

.form-content .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content .input-field label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form-content .forgot-pass-link {
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
}

.form-content button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 0 20px 10px;
}

.copyright{
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

footer p{
  width: fit-content;
}
