* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.hamburger-btn {
  font-size: 30px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.links {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.links li {
  margin-right: 10px;
}

.links a {
  text-decoration: none;
  color: #000;
}

.login-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Blur background overlay */

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  visibility: hidden;
}

/* Form popup */

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  z-index: 20;

  visibility: hidden;
}

.active-form {
  visibility: visible;
  transition: 500ms all;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-box {
  margin-bottom: 20px;
}

.login {
  display: contents;
} 

.login.active{
  display: none;
}

.signup {
  display: none;
}

.signup.active{
  display: contents;
}

.form-details {
  margin-bottom: 20px;
}

.form-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.form-details p {
  font-size: 16px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-content form {
  display: flex;
  flex-direction: column;
}

.form-content .input-field {
  margin-bottom: 10px;
}

.form-content .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content .input-field label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form-content .forgot-pass-link {
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
}

.form-content button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
